<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../shared/head %>
    <script type="text/javascript">
      $(function() {
        $('#btn-change-color').on('click', function() {
          $('#dashboard').toggleClass('white-dashboard');
        });
      });
    </script>
    <style>
      .white-dashboard {
        background-color: white;
      }
    </style>
  </head>
  <body class="container">
    <header>
      <%- include ../shared/header %>
    </header>

    <main>
      <div id="dashboard" class="jumbotron">
        <p>Name: <%- first_name + ' ' + last_name %></p>
        <p>Organization: <%- organisation_name %></p>
        <a id="btn-change-color" class="btn btn-light float-right"
          >Customize
        </a>
      </div>
      <div class="container">
        <h4>Applications</h4>
        <% applications.forEach(function(application){ %>
        <li><%- application.name %></li>
        <% }) %>
      </div>
    </main>

    <footer>
      <%- include ../shared/footer %>
    </footer>
  </body>
</html>
