<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../shared/head %>
  </head>
  <body class="container">
    <header>
      <%- include ../shared/header %>
    </header>

    <main>
      <div class="jumbotron">
        <p>Id: <%- id %></p>
        <p>Name: <%- name %></p>
        <p>OrganizationId: <%- organizationId %></p>
        <p>Organization: <%- organizationName %></p>
      </div>
    </main>

    <footer>
      <%- include ../shared/footer %>
    </footer>
  </body>
</html>
